<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
     <!--Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100;400;700;900&display=swap" rel="stylesheet">
  </head>

  <body>

    <body>
      <header>
        <div class="title">
          SES Live Search
          <img src="/static/images/Ses_logo.png" alt="Logo" class="header-logo">
        </div>
      </header>

    <!-- Add the Tab Navigation -->
    <div class="tab">
      <button class="tablinks" onclick="openTab(event, 'StartSearch')">
        Active Search
      </button>
      <button class="tablinks" onclick="openTab(event, 'HistoricalData')">
        Historical Data
      </button>
    </div>

    <!-- Start Search Tab Content -->
    <div id="StartSearch" class="tabcontent">
      <!-- Main container to hold the map and telemetry panel -->
      <div id="main-container">
        <!-- Side panel for selecting base stations -->
        <div id="select-panel">
          <h3>Select Base Stations</h3>
          <div id="checkbox-container">
            {% for container in container_names %}
            <label class="container-label" data-container="{{ container }}">
              <span>{{ container }}</span>
            </label>
            {% endfor %}
          </div>
        </div>
        <!-- Wrapper div to hold the map and the controls -->
        <div id="map-controls-wrapper">
          <!-- Map container -->
          <div id="map-container">
            <iframe
              src="{{ url_for('static', filename='footprint.html') }}"
              width="100%"
              height="100%"
              id="map-iframe"
              class="map-iframe"
              >RENDER</iframe
            >
          </div>
          <!-- Controls container -->
          <div id="controls-container">
            <!-- Placeholder to maintain columns -->
            <div id="container-selector"></div>

            <!-- Search controls -->
            <div id="user-buttons">
              <div id="button-container">
                <button id="start-search" class="ready">Start Search</button>
                <button id="end-search" class="disabled" disabled>
                  End Search
                </button>
              </div>
              <button id="fetch-data-button">Fetch Latest GPS Data</button>
            </div>
            <!-- Table container -->
            <div id="table-container">
              <label>Download GPX Files:</label>
              <br />
              <a>Complete a search to create GPX files.</a>
            </div>
          </div>
        </div>

        <!-- Side panel to display telemetry data -->
        <div id="telemetry-panel">
          <h3>Most Recent Pings</h3>
          <p>
            A base station outlined in red means the server has not received a
            ping from it in over 5 minutes.
          </p>
          <div id="telemetry-content">
            Displays the most recent pings from each base, fetch data to view.
          </div>
        </div>
      </div>
    </div>

    <!-- Historical Data Tab Content -->
    <div id="HistoricalData" class="tabcontent">

      <!-- Container for the left panel (filter + scrollable table) and right panel (map) -->
      <div class="filter-map-container">
        <!-- Left Panel: Filter + Scrollable List -->
        <div class="left-panel">
          <!-- Filter Panel -->
          <h4>Filter Previous Searches</h4>
          <div class="filter-box">
            <form method="POST" action="/filter-search">
              <div class="filter-inputs">
                <div class="filter-item">
                  <label for="start-date">Start Date:</label>
                  <input
                    type="date"
                    id="start-date"
                    name="start-date"
                    required
                  />
                </div>
                <div class="filter-item">
                  <label for="end-date">End Date:</label>
                  <input type="date" id="end-date" name="end-date" />
                </div>
                <div class="filter-item">
                  <label for="base-station">Base Station:</label>
                  <select id="base-station" name="base-station" multiple>
                    {% for station in base_stations %}
                    <option value="{{ station }}">{{ station }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <input type="submit" class="filter-submit" value="Filter" />
            </form>
          </div>

          <!-- Scrollable Table -->
          <div class="scrollable-table">
            <table class="table">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Title</th>
                  <th>Start Time</th>
                  <th>End Time</th>
                  <th>Date</th>
                  <th>GPX Data</th>
                  <th>Display Search</th>
                </tr>
              </thead>
              <tbody>
                <!-- Insert table data dynamically -->
                {% if historical_searches != None %} {% for search in
                historical_searches %}
                <tr class="search-row" session_id = "{{ search[0] }}" base_station = "{{ search[1] }}">
                  <!-- JSON data is in search[7] -->
                  <td>{{ search[0] }}</td>
                  <td>{{ search[1] }}</td>
                  <td>{{ search[2] }}</td>
                  <td>{{ search[3] }}</td>
                  <td>{{ search[4] }}</td>
                  <td>{{ search[5] | safe }}</td>
                  <td>{{ search[6] | safe }}</td>
                </tr>
                {% endfor %} {% endif %}
              </tbody>
            </table>
          </div>
        </div>

        <!-- Right Panel: Map -->
        <div class="map-container">
          <h5>Historical Map View</h5>
          <div class="map-wrapper">
          <iframe
            src="{{ url_for('static', filename='historical_map.html') }}"
            width="100%"
            height="100%"
            id="historical-map-iframe"
            class="map-iframe"
            >RENDER</iframe
          >
        </div>
        </div>
      </div>
    </div>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  </body>
</html>
