<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPS Data Visualization</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        GPS Data Visualization
    </header>
    <div id="map-container">
        <iframe src="{{ url_for('static', filename='test_footprint.html') }}" width="100%" height="100%"
            style="border:none;"></iframe>
    </div>
</body>

</html>