body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
  text-align: center;
}

/* Header styling, height, position of header, overflow prevents content from exeeding header height */
header {
  background-color: #F5841E; /* Middle block color */
  color: white; 
  font-family: 'Bebas Neue', sans-serif;
  text-align: center; 
  font-size: 3em; 
  padding: 10px 0;
  height: 90px; 
  position: relative; 
  z-index: 1000; 
  overflow: hidden; 
}

.title {
  display: inline-flex; /* horizontal algn */
  align-items: center;  /* Aligns logo  */
  justify-content: center;
  height: 100%; /* Ensure the title block takes up the full height of the header */
}

/* spacing, size, ratio of logo */
.header-logo {
  margin-left: 30px; 
  height: 80px; 
  width: auto;  
}

/* Places image left and right sides of header*/
header::before,
header::after {
  content: "";
  position: absolute;
  top: 0;
  height: 110px; /* Match the fixed height of the header */
  background-image: url('../check.png'); /* checkered image */
  background-size: contain; /* Ensures the image scales correctly */
  background-repeat: repeat; /* Repeats image */
}

/* Adjust the postion and width of the left checkered sides */
header::before {
  left: 0; 
  width: 20%; 
  background-position: 50% 0; /* Start repeating from the center vertically */
}

/* Position on the right, right border width */
header::after {
  right: 0; 
  width: 20%;
}

header > h1 { 
  margin: 0; /* Remove default margin for centering */
  width: 60%; /* Ensure title takes the full width */
  position: relative; /* Position it above the checkered background */
  z-index: 10; /* Ensure it appears above the checkered background */
  line-height: 90px; /* Aligns the text vertically within the header */
}


/* Flexbox container to align the map, search, and telemetry panels side by side */
#main-container {
  display: flex;
  justify-content: space-between; /* Ensures spacing between panels */
  width: 100%;
  height: calc(100vh - 100px); /* Adjust height to fit under the header */
  margin-top: 0;
  margin-bottom: 0;
}

/* Wrapper to stack map-container and controls-container vertically */
#map-controls-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  width: 100%;
  padding: 0;
  margin: 0;
}

/* Map styling */
#map-container {
  flex-grow: 1;
  position: relative;
  width: 100%;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden !important;
  background-color: #e07070;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 0;
}

/* Controls container for Azure containers, search, and table */
#controls-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates three equal-width columns */
  gap: 0px;
}
#checkbox-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2px;
  padding: 10px;
  padding-top: 0;
  width: 100%;
  box-sizing: border-box;
  overflow-y: auto;
}

#checkbox-container label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  padding-left: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#checkbox-container label:hover {
  background-color: #e0e0e0;
}

#checkbox-container .active {
  background-color: #f57f00;
  color: #e0e0e0;
}

#checkbox-container label.active:hover {
  background-color: #f27201;
}

#map-iframe {
  height: 97.5%;
  width: 98.4%;
  z-index: 10;
  border-radius: 2px;
  border: none;
}

.search-running-animation {
  background-color: #4caf50 !important;
}

.search-running-animation::before {
  content: "";
  position: absolute;
  width: 25%;
  height: 225%;
  background-color: #94d096;
  box-shadow: 0 0 40px #94d096;
  animation: animate 12s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Sidebar styling */
#telemetry-panel,
#select-panel {
  width: 300px; /* Fixed width for sidebars */
  height: 100vh; /* Take up full height of the viewport */
  background-color: #f7f7f7;
  padding: 10px;
  box-shadow: -3px 0 5px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
}

/* Telemetry card styling */
.telemetry-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.telemetry-card p {
  margin: 5px 0;
  font-size: 14px;
  line-height: 1.4;
}

.telemetry-card .title {
  font-weight: bold;
  font-size: 16px;
}

.telemetry-card hr {
  margin: 10px 0;
}

/* Azure container and search controls styling */
#table-container {
  padding: 10px;
}

/* Table styling */
.gpx-table {
  padding: 20px;
  border-collapse: collapse;
  width: 100%;
}

/* Container styling to ensure the buttons take up half the width each */
#button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

#start-search,
#end-search,
#fetch-data-button {
  width: 50%;
  padding: 10px;

  color: #333;
  border: none;
  text-align: center;
  font-size: auto;
  cursor: pointer;
  box-sizing: border-box; /* Ensures padding doesn't exceed width */
}

#start-search,
#end-search,
#fetch-data-button {
  width: 50%;
  padding: 10px;

  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#start-search {
  border-radius: 5px 0 0 5px;
  border-right: none;
  margin-right: 0;
}

#end-search {
  border-radius: 0 5px 5px 0;
  border-left: none;
  margin-left: 0;
}

#fetch-data-button {
  margin-top: 5px;
  width: 100%;
}

#fetch-data-button:hover {
  background-color: #e0e0e0;
}

.ready {
  background-color: #f57f00 !important;
  color: #e0e0e0 !important;
}

.ready:hover {
  background-color: #f27201 !important;
}

.disabled {
  background-color: #aaaaaa !important;
  color: #3c3c3c !important;
  cursor: not-allowed !important;
}


#Tabs-styling
/* General styling for tabs */
.tab {
  display: flex;
  justify-content: center;
  margin-top: 10px; /* Adjust the margin as needed */
  background-color: transparent; /* Remove any box-like appearance */
  border: none;
  font-family: 'Bebas Neue', sans-serif; /* Set the same font as the header */
}

/* Styling the buttons */
.tab button {
  font-family: 'Bebas Neue', sans-serif;
  background-color: transparent; /* Make the background blend with the page */
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  letter-spacing: 1.5px;
  font-size: 25px;
  color: #2196F3; /* Highlight the text color instead */
  transition: color 0.3s ease;
}

/* On hover, change the text color */
.tab button:hover {
  color: #7eb2dd; 
}

/* Active tab */
.tab button.active {
  border-bottom: 2px solid #3c6997; /* Only underline active tab */
  font-family: 'Bebas Neue', sans-serif;
}

/* Tab content */
.tabcontent {
  display: none;
  padding: 20px;
  border: none; /* Remove borders from tab content */
}


/* Hide all tabcontent by default */
.tabcontent {
  display: none;
}

/* When tab is active, show the tab content */
.tabcontent.active {
  display: block;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#HistoricalData {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.left-panel {
  flex: 1.5; /* Takes up 1/3rd of the container width */
  display: flex;
  flex-direction: column;
  margin-right: 20px; /* Adds space between the table and the map */
  margin-left: 10px;
}

.scrollable-table {
  flex-grow: 1;
  overflow-y: auto;
  height: calc(
    100% - 210px
  ); /* Adjust height to leave space for the filter above */
}

.map-container {
  flex: 1.5; /* Takes up the remaining 2/3rd of the space */
  height: 600px;
  padding-right: 10px;
}

.table {
  width: 100%; /* Make the table stretch to fill the container */
  font-family: "Iter", sans-serif;
  border-collapse: collapse;
  font-size: 14px;
}

.table th,
.table td {
  padding: 6px 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.table th {
  background-color: #eeaf6f;
  color: #ffffff;
  text-align: center;
  position: relative;
  top: 0;
}

.table tbody tr:nth-child(even) {
  background-color: #f8eddb;
}



.table tbody tr:hover {
  background-color: #f1f1f1; /* Adds a hover effect */
}

.filter-box {
  background-color: #f7f7f7; /* Light background color */
  border: 1px solid #ccc; /* Subtle border */
  border-radius: 8px; /* Rounded corners */
  padding: 20px; /* Padding inside the box */
  margin-bottom: 10px; /* Space between filter box and table */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
  width: 100%; /* calc(33% - 40px); Take up the same width as the table */
  box-sizing: border-box;
}

.filter-inputs {
  display: flex;
  justify-content: space-between; /* Evenly space filter items */
}

.filter-item {
  flex: 1; /* Makes each item take equal space */
  /* min-width: 150px; /* Sets a minimum width to avoid squishing */
  margin-right: 20px; /* Add some space between items */

}

.filter-item:last-child {
  margin-right: 0; /* Remove margin on the last item */
}

.filter-item label {
  display: block; /* Ensures the label is above the input */
  margin-bottom: 5px; /* Space between label and input */
  font-weight: bold; /* Optional: make label text bold */
}

.filter-item input,
.filter-item select {
  width: 100%; /* Full width of the filter item */
  padding: 8px; /* Padding inside the input */
  box-sizing: border-box;
}

.filter-submit {
  background-color: #eeaf6f;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  margin-top: 20px; /* Add space above the button */
}

.select2-container {
  width: 100% !important; /* Makes the Select2 dropdown take the full width */
}
=
.filter-submit:hover {
  background-color: #d59455; /* Darker on hover */
}

.filter-map-container {
  display: flex;
  width: 100%;
  height: 650px;
}
