body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 15px 0;
    font-size: 24px;
}

/* Flexbox container to align the map and telemetry panel side by side */
#main-container {
    display: flex;
    justify-content: space-between; /* Makes sure there’s space between the map and the sidebar */
    width: 100%;
    height: calc(100vh - 100px); /* Adjust height to fit under the header */
    margin-top: 20px;
}

/* Map styling */
#map-container, #map-border {
    flex-grow: 2; /* Allow the map to grow and take up available space */
    margin: 0 auto;
    height: 100%;
    border: 2px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#map-border{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;
  background-color: #e07070;
}

.search-running-animation{
  background-color: #4CAF50 !important;
}

.search-running-animation::before{
  content: '';
  position: absolute;
  width: 300px;
  height: 200%;
  background-color: #78c07b;
  box-shadow: 0 0 40px #78c07b;
  animation: animate 12s linear infinite;

}

#map-iframe{
  height: 97.5%;
  width: 98%;
  z-index: 10;
  border-radius: 6px;
}

@keyframes animate {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

/* Sidebar styling */
#telemetry-panel, #search-panel {
    width: 300px; /* Fixed width for sidebar */
    height: 100%; /* Take up full height of the viewport */
    background-color: #f7f7f7;
    padding: 10px;
    box-shadow: -3px 0 5px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
}

#search-panel {
  width: 200px;
}

/* BASIC STYLING FOR TELEMETRY SIDEBAR */
.telemetry-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.telemetry-card p {
    margin: 5px 0;
    font-size: 14px;
    line-height: 1.4;
}

.telemetry-card .title {
    font-weight: bold;
    font-size: 16px;
}

.telemetry-card hr {
    margin: 10px 0;
}